@charset "utf-8";.studyplay_starBg{background:url(star.png) 0 -35px;top:0;left:0;height:35px;padding:0px;cursor:pointer;}
.studyplay_starovering{background:url(star.png);height:35px;top:0;left:0;}
.studyplay_starON{position:absolute;top:0;left:0;}
.studyplay_starBg_small{background:url(star_small.png) 0 -12px;top:0;left:0;height:12px;padding:0px;cursor:pointer;margin-top:3px;*margin-top:3px;}
.studyplay_starovering_small{background:url(star_small.png);height:12px;top:0;left:0;}
.studyplay_starON_small{position:absolute;top:0;left:0;}
.studyplay_starBg_middle{background:url(star_middle.png) 0 -20px;top:0;left:0;height:20px;padding:0px;cursor:pointer;}
.studyplay_starovering_middle{background:url(star_middle.png);height:20px;top:0;left:0;}
.studyplay_starON_middle{position:absolute;top:0;left:0;}