@charset "utf-8";
/* CSS Document */
body{ min-width:1000px; font-family:"微软雅黑";margin: 0; padding: 0;font-size: 14px;color: #444;}
h1,h2,h3,h4,b,i,p,em,h5,table,th,td{ margin:0; padding:0; font-style:normal; font-weight:normal;}
ul,li{ list-style:none;}
a{text-decoration: none;}
select,input,button{font-family: "微软雅黑";}
input,select,textarea{outline: none;}
.n-layout{ width:1180px; margin:0 auto;}
.n-navs{ height:50px; line-height:50px;border-bottom: 1px solid #d5d5d5;}
.n-navs span{display: inline-block;float: right;}
.n-navs .n-n3 span{display: inline-block;position: relative;margin-top: 17px;}
.n-navs .n-n3 span img{vertical-align: middle;}
.n-navs .n-n3 span em{width: 15px;height: 15px;border-radius: 10px;background-color: #d20017;
position: absolute;color: #fff;font-size: 13px;text-align: center;line-height: 15px;left: 15px;
top: -7px;}
.n-navs .n-n1{float:right;display: inline-block;}
.n-navs .n-n1 a{border-radius:3px; padding:4px 15px; margin-left:25px;}
.n-navs .n-n1 a.n-log{background-color:#e9ebee;color:#888;}
.n-navs .n-n1 a.n-reg{background-color:#1cba9b;color:#fff;}
.n-navs .n-n2{float: left;display: inline-block;}
.n-navs .n-n2 a{ color:#444;margin-right: 60px;line-height: 50px;}
.n-logo{height: 102px;}
.n-logo-left{ float:left;display: inline-block;padding-top:25px;padding-right: 170px;}
.n-menus-ul{ float:left;display: inline-block;padding-top:37px;}
.n-menus-ul li{float:left; line-height:36px;margin-left: 20px;}
.n-menus-ul li a{color:#2f2f2f;padding:0 5px;display:inline-block;}
.n-menus-ul li a:hover,.n-menus-ul li a.current{border-bottom: 3px solid #1cba9b;transition-property: all;transition-timing-function: ease;transition-delay: 0s;}
.phone-icon{background: url(../../images/new-images/phone-icon.gif)no-repeat left;float: right;display: inline-block;
padding-left:64px;margin-top: 24px;height: 63px;}
.phone-icon p{position: relative;top: 3px;padding-bottom: 8px;}
.n-footer-main-new{ padding-top: 55px; overflow: hidden;}
.n-banner{ background:url(../../images/new-images/n-b1-new.jpg) no-repeat;  width: 100%;height: 768px;}
.n-header{/*position: fixed;*/ width: 100%;box-shadow: 0px 1px 5px rgba(0,0,0,0.1);}
.fixed029{position:relative; height: 120px;z-index: 89;}
.n-b-index{text-align: center;}
.n-b-index h2{font-size: 60px;font-weight: bold;color: #fff;padding: 125px 0 35px;}
.n-b-index h4{font-size: 21px;color: #fff;padding-bottom: 80px;}
.n-b-input{clear: both;background: url(../../images/new-images/sear228.png) no-repeat center; width: 800px;height: 75px;margin: 0 auto;}
.n-b-input form{height: 75px; width: 800px;margin-bottom: 20px;}
.n-b-input form input{display: inline-block;float: left;width: 600px;height: 54px;line-height: 54px;
margin: 13px 0 0 70px;border: 0;font-size: 16px;padding-left: 10px;}
.n-b-input form a{width:105px; height:56px;display:inline-block;margin: 11px 10px 0 0;}
.n-b-input p{text-align: left; color: #fff;padding-left: 10px;}
.n-b-input p a{background-color: #1cba9b; color: #fff; padding: 3px 14px; font-size: 16px;margin-left: 5px;border-radius: 3px;}
.n-b-industry{background-color:rgba(255,255,255,0.95);width: 789px;margin: -112px auto 0;
z-index: 9;position: relative;padding: 5px 15px 20px;border-radius: 5px;}
.n-b-industry h3{height: 66px;line-height: 66px;border-bottom: 1px solid #eaeaea;}
.n-b-industry h3 a{float: right;right: 0;margin:20px 10px 0 0;}
.n-b-industry h3 a:hover{background-color: transparent;}
.industry-main{padding: 28px 30px;text-align: left;}
.industry-main a{ color: #444; display: inline-block;padding: 7px 9px;background-color: transparent;margin:0 18px 4px 0;border-radius: 2px;}
.n-b-industry a:hover{background-color: #1cba9b;color: #fff;}
.maybe{clear: both;padding: 248px 0 0 30px;}
.maybe h3{color: #fff;font-size: 20px;text-align: left;}
.maybe h3 span{color: #1cba9b;font-size: 40px;font-weight: bold;margin: 0 10px;}
.maybe h3 a{display: inline-block;margin-left:202px;}
.n_gly_phone,.n_gly_lock,.n_gly_yzm01,.col-weibo,.col-qq,.col-wexin{ background:url(../../images/new-images/n-icon.png) no-repeat;}
.n-style{ margin:64px auto; overflow:hidden;}
.n-style-list{ width:259px; border:1px solid #e4f0f3; background-color:#f0f8fa; height:302px; margin:0 8px; float:left;}
.n-style-pad{ padding:0 40px; text-align:center;}
.n-style-pad img{ padding-top:52px;}
.n-style-pad h4{ font-size:20px; font-weight:bold; margin:23px 0 15px;}
.n-style-pad p{ color:#888; line-height:20px;}
.n-ch{ background:url(../../images/new-images/n-b2-new.jpg) no-repeat center; width:100%; height:207px; clear:both; text-align:center;
background-attachment: fixed;position: relative; background-position: center 0x; padding-top:60px;}
.n-ch h2{ font-size:32px; margin-bottom:40px;}
.n-ch a,.n-main h4 a,.n-footer-ib a{ background-color:#00bb9c; border:1px solid #00aa8e; color:#fff; padding:10px 50px; display:inline-block;}
.n-ch a:hover{ background:#00c1a1;}
.n-main{padding-bottom: 70px;}
.n-main h2{ padding-top:97px;font-size:50px;font-weight:bold;text-align:center;margin-top:0;}
.n-main-r-list{ width:245px;margin-right:24px;text-align:center;float:left;background-color: #fff;padding: 0 16px;}
.n-main-r-list h3{ font-size:18px;margin:43px 0 17px;}
.n-main-r-list p{ line-height:24px; text-align:left; color: #888;}
.n-there{ background-color:#fff; width:100%; overflow:hidden;}
.n-there-main{ margin-top:50px; margin-bottom:64px; overflow:hidden;}
.n-main h4{ text-align:center; margin:0; font-size:14px; font-weight:normal; margin-top:25px;}
.n-main h4 span{ color:#c2c2c2; font-size:20px; padding:0 10px;}
.n-main h4 a{ padding:10px 22px;}
.all029{ margin: 60px 0 30px;overflow: hidden;zoom: 1;}
.n-there-list{ width:275px;float:left;margin: 5px 13px;background-color: #fff;padding: 5px 0 25px;}
.clogo{width: 275px; height: 120px;display: inline-block;text-align: center;}
.clogo span{height: 100%; vertical-align: middle; display: inline-block;}
.n-there-list h4{color: #444;font-size: 18px;padding:0 0 22px 30px;display: block;font-weight: bold;text-align: left;margin-top: 0;}
.n-there-list ul{padding-left: 30px;}
.n-there-list ul li{color: #888;margin-bottom: 9px;background: url(../../images/new-images/icon228.png)no-repeat left;padding-left: 25px;}
.n-there-list ul li.nil{background-position: 0 0px;}
.n-there-list ul li.ni2{background-position: 0 -29px;}
.n-there-list ul li.ni3{background-position: 0 -62px;}
.n-there-list ul li.ni4{background-position: 0 -129px;}
.n-there-list ul li.ni5{background-position: 0 -98px;}
.n-there-list ul li.ni6{background-position: 0 -162px;}
.n-there-list ul li.ni7{background-position: 2px -197px;}
.n-there-list ul li.ni8{background-position: 0 -231px;}
.n-there-list ul li.ni9{background-position: 0 -269px;}
.all029-hover a>*:hover,.all029-hover a>*:active{box-shadow:0 0 30px rgba(219,222,228,0.6);margin-top:4px}
.n_list_last{ margin-right: 0;}
.round029{ text-align: center;}
.round029 ul li{ width: 13px; height: 13px; border: 1px solid #1cba9b; border-radius: 20px; background-color: #fff; display: inline-block; margin: 0 9px;}
.round029 ul li.current,.round029 ul li:hover{ width: 16px; height: 16px; border: 1px solid #1cba9b; background-color: #1cba9b;cursor: pointer; margin: 0 7px;}
.n-p3-star{ float:left; display:inline-block; margin-right:15px;}
.n-p3 span.n-p3-span{ color: #ff632f; font-weight: bold; font-size: 18px;}
.n-zd{ margin:55px 0 90px; overflow:hidden;}
.n-zd-list{ border-right:1px solid #eaeaea;height:108px; display:inline-block; float:left; text-align:center;padding: 0 39px;}
.n-zd-list img{ vertical-align:middle;}
.n-zd-list span{ height:100%; display:inline-block; vertical-align:middle;}
.n-footer{width:100%; height:290px; clear:both;background-color: #232323;position: relative;}
.ft-left{display: inline-block;float: left;padding-top: 52px;margin-right: 120px;}
.ft-style{width:380px;display: inline-block;float: left;padding-top: 45px;}
.ft-style p{vertical-align: middle;line-height: 30px;color: #bfbfbf;padding-left: 35px;margin: 5px 0;
background: url(../../images/new-images/n_footer_icon.png) no-repeat left;color: #bfbfbf;}
.ft-style p.ft-i1{background-position: 0 5px;}
.ft-style a{text-decoration: none;color: #bfbfbf;}
.ft-style a p:hover{color: #fff;}
.ft-style p.ft-i2{background-position: 2px -34px;}
.ft-style p.ft-i3{background-position: 2px -69px;}
.ft-about{display: inline-block;float: left;padding-top: 45px;}
.ft-about-link{display: inline-block;float: left;width: 165px;text-align: left;}
.ft-about-link p{color: #fff;margin: 0 0 5px;}
.ft-about-link a{color: #bfbfbf; text-decoration: none;display: block;font-size: 13px;line-height: 32px;}
.ft-about-link a:hover{color: #fff;text-decoration: underline;}
.ft-ewm{display: inline-block;float: right;width: 109px;padding-top: 45px;}
.ft-ewm p{text-align: center; color: #bfbfbf;margin: 6px 0 0;}
.n-copy{text-align:center;clear: both; bottom: 0;position: absolute;border-top: 1px solid #434343;width: 1180px;}
.n-copy p{ margin:0; color:#d1d1d1; line-height:54px;}
.n-copy img{vertical-align: middle;padding-left: 20px;}
.n-footer-main{ padding-top:63px; overflow:hidden;}
.n-footer-list1{ width:480px; float:left; padding-top:0;}
.n-footer-list1 h5{ margin-bottom:21px;}
.n-footer-list1 p{ line-height:38px; margin-bottom:0; color:#d1d1d1;}
.n-footer-list1 p a{ color:#d1d1d1; margin-right:10px;}
.n-footer-list1 p a:hover{ color: #fff;}
.n-footer-list2{ width:370px; float:left;}
.n-footer-ip{ border-bottom:1px solid #fff; margin-top:35px;}
.n-footer-ip input{ width:100%; height:38px; line-height:38px; color:#fff; background-color:transparent; border:0;}
.n-footer-ib a{ padding:1px 55px; margin-top:28px;}
.n-footer-ib a:hover{ background-color: #00c1a1;}
.w100{ text-align:center;background-color: #fff;}
.f_l{ float:left;}
.f_r{ float:right;}
.clear{font-size:0px;line-height:0px;display:block;clear:both;}

/*登录注册修改密码*/
.n-banner01{ background:url(../../images/new-images/n-b4.jpg) no-repeat center; width:100%; height:851px; position:relative;/* margin-top:-85px;*/ z-index:0;}
.n_login{width:380px; margin:0 auto; padding-top:270px;}
.n_login_main{ border-radius:5px; background-color:#fff; padding:20px 35px 30px; overflow:hidden; *padding-bottom:5px;}
.n_login_tit{ border-bottom:2px solid #e7e9ef;}
.n_login_tit_p{ margin-bottom:0; padding:0 87px;}
.n_login_tit a{ width:152px; text-align:center; display:inline-block; font-size:16px; color:#444; line-height:40px;margin-bottom:-2px;}
.n_login_tit a:hover,.n_login_tit a.current{ border-bottom:2px solid #00bb9c; font-weight:bold; color:#00bb9c; }
.n_login_form{ margin-top:30px;}
.n_form1{ position:relative;}
.n_lm{ position:absolute; color:#d9534f; top:42px; line-height:26px;}
.n_login_form_group{ border:1px solid #ddd; padding:11px 10px; height:42px; *height:32px; position:relative; margin-bottom:27px; *padding-bottom:0; width:100%;}
.n_gly{ height:20px; text-align:center; width:30px; border-right:1px solid #e3e3e3; top:10px; display:inline-block; float:left;}
.n_gly_phone{background-position:2px -78px;}
.n_group_input1{ margin-left:10px; height:20px; line-height:20px; border:0; color:#999; float:left; width:240px;outline: none;}
.n_gly_lock{background-position:2px -121px;}
.n_gly_yzm01{background-position:2px -171px;}
.n_gw{ width:185px; float:left; display:inline-block;}
.n_gw .n_group_input1{ width:100px;}
.input-gn{ width:108px; background-color:#00bb9c; color:#fff; height:40px; line-height:40px; text-align:center; float:right;}
.input-gn a{ color:#fff;}
.n_chekbox{ margin:0 0 34px}
.n_chekbox span{ margin-top:5px; position:relative;}
.n_chekbox .input {position: absolute;visibility: hidden;}
input[type="radio"],input[type="checkbox"]{ vertical-align:top;}
.n_chekbox .input_check+label{ display:inline-block; width:14px; height:14px; border:1px solid #696969;margin:0 5px 0 -14px; position:relative; background-color:#f3f3f3; top:3px; *top:0; *margin-left:-17px}
.n_chekbox .input_check:checked+label:after{ content:""; position:absolute; left:1px; bottom:5px; width:11px; height:6px; border:2px solid #444; border-top-color:transparent; border-right-color: transparent;-ms-transform: rotate(-60deg); -moz-transform:rotate(-60deg); -webkit-transform:rotate(-60deg); transform: rotate(-45deg);} 
.n_chekbox a{ color:#00bb9c;}
.btn-su{ background-color:#00bb9c; color:#fff;}
.btn-su strong{ font-weight:normal;}
.btn-su:hover{ color:#fff; background:#00c1a1;}
.m-t-lg{ text-align:center; margin-top:33px !important;}
.m-b-lg{ margin:15px auto 0; padding:0 49px !important;}
.m-b-lg a{ width:43px; height:43px; display:inline-block; margin:0 12px;}
.col-weibo{ background-position:0 -207px;}
.col-qq{ background-position:0 -257px;}
.col-wexin{ background-position:0 -307px;}
.col-sm-12{ margin:20px 0 0;}
.n_chekbox_f{ float:left; display:inline-block; margin-bottom:25px;}
.n_for_span{ float:right; right:0; color:#444; display:inline-block; cursor:pointer; margin-top: -23px;}
.n_b{ clear:both;}
.n_b_top{ margin-top:10px;}
.m-ts{ padding-top:70px; text-align:center;}
.m-ts p{ margin-bottom:0; line-height:30px;}
.m-ts p img{ vertical-align:middle; padding-right:5px;}
.n_login_mb{ padding-bottom:20px;}
.n_b_top1{ padding:20px 0 30px;}
/*帮助中心*/
.n-menus-c2{ background-color:rgba(49,84,155,0.8); width:100%;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#5a76af',endColorstr='#5a76af');}
.n-help{ overflow:hidden;}
.help-left{ width:200px; border-left:1px solid #ececec; border-right:1px solid #ececec; float:left;margin-bottom:-9999px;padding-bottom:9999px;background-color:#fff;}
.help-left ul{ margin-bottom:0;}
.help-left ul li{ line-height:62px; border-bottom:1px solid #ececec;}
.help-left ul li a{ color:#444; font-size:16px; padding-left:23px; display:block;}
.help-left ul li a:hover,.help-left ul li a.current{ background:#fff url(../../images/new-images/img17.png) no-repeat; margin-right:-1px;}
.help-right{ width:910px; float:right; padding-bottom:50px;*width:908px;background-color:#fff}
.help-right-main{ padding:0 30px;}
.help-tit-img{ text-align:center; padding-top:35px; padding-bottom:30px;}
.help-tit-img img{ padding-bottom:3px;}
.help-tit-img p{ line-height:24px; margin-bottom:0;}
.help-tit-img p a{ color:#444; text-decoration:underline; padding-left:3px;}
.help-tit-img p a:hover{ color: #00bb9c;}
.help-where-t{ padding:30px 13px 0;}
.help-where h4.help-h4-t,.help-where-t h4.help-h4-t{ font-size:16px;}
.help-where h4{ font-size:14px; margin:0; line-height:26px;}
.help-where-p h4.help-h4-t{ margin-left: 0;}
.help-data{ padding:20px 0 15px; overflow:hidden;}
.help-data-left{ float:left; width:170px; margin-left: 15px;}
.help-data-left span{ color:#fff; font-size:16px; font-weight:bold; background-color:#5774ae; border-radius:5px; padding:6px 13px 7px; display:inline-block; margin-top:15px;}
.help-data-right{ width:654px; float:right;}
.help-data-right p{ margin-bottom:5px; line-height:20px;}
.help-data-right p span{ color:#00bb9c;}
.help-where-t h4{ font-size:14px;}
.help-cj{ margin-top:35px; padding-bottom:60px; overflow:hidden;}
.help-cj-tit{ text-align:center;}
.help-cj-tit p{ border-bottom:2px solid #eaeaea; padding:3px 60px 6px; display:inline-block;}
.help-cj-tit p span{ padding:10px 15px 14px; font-size:18px; background:url(../../images/new-images/img30.png) no-repeat center 41px; position:relative;}
.help-cj-main{ margin-top:40px; overflow:hidden;}
.help-cj-ml{ border-right:1px dashed #ececec; text-align:center; padding:0 24px; float:left;margin-bottom:-9999px;padding-bottom:9999px;}
.help-cj-ml h5{ font-size:16px; color:#0f0f0f;margin: 10px 0;}
.help-cj-ml p{ margin-bottom:0; line-height:24px;}
.help-where-p{ padding:25px 13px 0;}
.help-where-p h4{ font-size:16px; margin:4px; line-height:26px;}
.help-where-p p{ line-height:26px; color:#888; margin-bottom:0;}
.help-star{ margin:10px 0;}
.help-star p{ line-height:26px; color:#888; margin-bottom:10px;}
.help-star p img{ vertical-align:middle; padding-right:45px;}
.help-where-l{ padding:25px 13px 0;}
.help-where-l p{ margin-bottom:0; line-height:26px;}
.help-where-l p span{ color:#00bb9c; font-weight:bold; font-size: 15px;}
.help-where-l p.help-where-l-c{ color:#888;}
.help-where-l table{ table-layout:fixed; width:809px; margin:10px 0 50px;}
.help-where-l table th{ font-weight:normal; background-color:#00bb9c; color:#fff;}
.help-where-l table th,.help-where-l table td{ line-height:26px; padding:8px 0; text-align:center; font-size: 14px;}
.help-where-l table .help-t1{ width:163px;}
.help-where-l table td.help-t1,.help-where-l table td.help-t2{ border-right:1px solid #fff;}
.help-where-l table td{ border-top:1px solid #fff; background-color:#f4f4f4; color:#444; }
.help-where-l table .help-t2{ width:215px;}
.help-where-l table .help-t3{ width:429px;}
.help-where-l table td.help-t3{ text-align:left; padding-left:20px;}
.help-tit-img h3{ margin:0; font-size:28px;}
.help-privacy{ padding:13px 0 10px;}
.help-privacy p{ margin-bottom:0; line-height:26px;}
.help-cj-tit-b{ padding-bottom:25px;}
.help-privacy-pl{background-color:#f7f7f7;border-radius:3px;padding:20px;margin:5px 0 15px;}
.help-privacy-pl p{ color:#888;}
/*首页弹窗*/
.sd_pop{ background: url(../../images/new-images/img31.png) no-repeat; width:361px; height: 393px; position: absolute; left: 50%; top: 50%; margin-left: -180px; margin-top: -80px;}
.sd_pop_content{ padding-top: 57px;}
.sd_pop_close{ position: absolute; right:35px; margin-top: 15px;}
.sd_pop_main{ padding: 78px 50px 0 20px; text-align: center;}
.sd_pop_main p{ margin-bottom: 29px;}
.sd_pop_main p span{ border-bottom: 1px dashed #eaeaea; color: #888; padding: 0 20px; line-height: 24px; padding-bottom: 7px;}
.sd_pop_main h2{ font-weight: bold; font-size: 24px; line-height: 34px;}
.sd_pop_btn{ padding-top: 35px;}
.sd_pop_btn a{ padding: 9px 30px; margin: 0 10px;}
.sd_pop_btn a.sd_btn_left{ color: #fff; background-color: #00bb9c;}
.sd_pop_btn a.sd_btn_right{ color: #888; background-color: #e7e7e7;}
.sd_cm{ position: fixed; right: 3px; margin-top: 110px;}
.sd_cm_img{ text-align: right;}
.sd_c{ background: url(../../images/new-images/img32.png) no-repeat; width:258px; height: 72px;}
.sd_c_main{ padding: 18px 0 0 68px;}
.sd_c_main p{ color: #fff; margin-bottom: 0; line-height: 24px;}
.sd_c_main p a{ color: #fff; padding: 1px 5px; background-color: #fcd65d; border-radius:10px;}
/*修改我的中心*/
.zj-myqy{ margin: 26px 0 0; border-bottom: 1px solid #eaeaea;}
.zj-myqy p{ margin-left: 10px; margin-bottom: 15px;}
.zj-myqy a{ border: 1px solid #aeaeae; color: #aeaeae; background-color: #fff; padding: 3px 20px; margin: 0 10px; display: inline-block;}
.zj-myqy a em{ padding-left: 8px;}
.zj-myqy a:hover,.zj-myqy a.current{ background-color: #00bb9c ; border: 1px solid #00bb9c; color: #fff;}
.new-com{ border-bottom: 1px solid #eaeaea; padding: 15px 0 10px;}
.new-com p{ color: #333; line-break: 24px; margin-bottom: 15px;}
.new-com-in{ overflow: hidden; font-size: 12px;}
.new-com-span{ float: left; display: inline-block; color: #999; width: 280px;}
.new-com-in-star{ float: left; width: 80px; margin-right: 40px; padding-top: 4px;}
.new-com-time{ color: #999;}
.new-com-delete{ float: right;}
.new-com-delete a{ color: #356ee1;}
/* 2016.09.22 */
[data-role='scrollItem']{display: inline-block;}
/*2016/9/22右边侧栏*/
.sd_menu_side{ position: fixed;right: 0;z-index: 999;bottom: 30px;}
.side-pic{right: 0;position: relative;}
.pic,.pic01,.pic02,.pic03{width: 51px;height: 52px;right: 0;float: right;z-index:100;}
.back,.back01,.back03{width: 147px;height: 52px;position: absolute;right: 0;float: right;}
.pic{background: url(../../images/new-images/img33.png) 0 0 no-repeat;z-index:100;}
.back{background: url(../../images/new-images/img41.png) 0 0 no-repeat;z-index:101;}
.side-pic01{margin-top: 52px;position: relative;}
.pic01{background: url(../../images/new-images/img35.png) 0 0 no-repeat;z-index:100;   position: relative;}
.back01{background: url(../../images/new-images/img43.png) 0 0 no-repeat;z-index:101;}
.side-pic02{position: relative;float: right;right: 0;}
.pic02{background: url(../../images/new-images/img34.png) 0 0 no-repeat;z-index:100;}
.back02{background: url(../../images/new-images/img42.png) 0 0 no-repeat;width: 207px;height: 154px;
z-index: 99; position: relative;margin-top: -102px;}
.side-pic03{margin-top: 165px;position: relative;}
.pic03{background: url(../../images/new-images/img36.png) 0 0 no-repeat;z-index:100;}
.back03{background: url(../../images/new-images/img44.png) 0 0 no-repeat;z-index: 101;}
/*
.flip-container {perspective: 1000;transform-style: preserve-3d;}
.flipper {transition: 0.6s;transform-style: preserve-3d;position: relative;width: 250px;height: 147px;position: relative;}
.front.pic {background: url(../../images/new-images/img33.png) 0 0 no-repeat;}
.flip-container:hover .back, .flip-container.hover .back{background: url(../../images/new-images/img41.png) 0 0 no-repeat;
width: 147px;height: 52px;position: absolute;}
.flip-container:hover .back,.flip-container01:hover .back01,.flip-container02:hover .back02,.flip-container03:hover .back03{transform: rotateY(0deg);}
.flip-container:hover .front,.flip-container01:hover .front01,.flip-container02:hover .front02,.flip-container03:hover .front03{transform: rotateY(180deg);}
.front,.front01,.front02,.front03,.back,.back01,.back02,.back03 { width: 51px; height: 52px;backface-visibility: hidden;transition: 0.6s;transform-style: preserve-3d;position: absolute;top: 0;right: 0;}
.front,.front01,.front02,.front03 {z-index: 2;transform: rotateY(0deg);}
.back,.back01,.back02,.back03 {transform: rotateY(-180deg); z-index: 999;}
.vertical.flip-container,.vertical.flip-container01,.vertical.flip-container02,.vertical.flip-container03 {position: relative;}
.vertical .back,.vertical .back01,.vertical .back02,.vertical .back03 {transform: rotateX(180deg);}
.vertical.flip-container:hover .back,.vertical.flip-container01:hover .back01,.vertical.flip-container02:hover .back02,.vertical.flip-container03:hover .back03 {transform: rotateX(0deg);}
.vertical.flip-container:hover .front,.vertical.flip-container01:hover .front01,.vertical.flip-container02:hover .front02,.vertical.flip-container03:hover .front03 { transform: rotateX(180deg);}
.front img,.front01 img,.front02 img, .back img,.back01 img,.back02 img,.back03 img{ display: none;}
.flip-container01 {perspective: 1000;transform-style: preserve-3d; margin-top: 8px;}
.flipper01 {transition: 0.6s;transform-style: preserve-3d;position: relative; width: 51px; height: 52px;margin-top: 60px;}
.front01.pic01 {background: url(../../images/new-images/img34.png) 0 0 no-repeat;}
.flip-container01:hover .back01, .flip-container01.hover01 .back01{background: url(../../images/new-images/img42.png) 0 0 no-repeat;width: 207px;height: 154px;}
.flip-container02 {perspective: 1000;transform-style: preserve-3d; margin-top: 8px;}
.flipper02 {transition: 0.6s;transform-style: preserve-3d;position: relative; width: 50px; height: 50px;}
.front02.pic02 {background: url(../../images/new-images/img35.png) 0 0 no-repeat;}
.flip-container02:hover .back02, .flip-container02.hover02 .back02{background: url(../../images/new-images/img43.png) 0 0 no-repeat;}
.flip-container03 {perspective: 1000;transform-style: preserve-3d; margin-top: 8px;}
.flipper03{transition: 0.6s;transform-style: preserve-3d;position: relative; width: 50px; height: 50px;}
.front03.pic03{background: url(../../images/new-images/img36.png) 0 0 no-repeat;}
.flip-container03:hover .back03, .flip-container03.hover03 .back03{background: url(../../images/new-images/img44.png) 0 0 no-repeat;}
*/

/*搜索结果页修改*/
.new_sea{ background: url(../../images/new-images/img47.png) no-repeat center; width: 100%; height: 174px;}

.n-b-ind{ width:862px; margin:0 auto;}
.n-b-ind ul li{ margin-right: 10px; float:left; font-size:18px; padding:3px 12px;font-weight:600; cursor:pointer; border:0; position: relative;}
.n-b-ind ul li:hover em,.n-b-index ul li.current em{width: 0; height: 0; border-left: 10px solid transparent; border-right: 10px solid transparent; border-top: 12px solid #00bb9c; position: absolute; left: 50%; margin-left: -10px; bottom: -10px;}
.n-b-ind ul li:hover,.n-b-index ul li.current{ background-color:#00bb9c; border:1px solid #00aa8e; padding:2px 11px;}
.n-b-inp{ width:100%;padding-top:27px; clear: both;}
.n-b-inp input{ width:730px; padding:16px 10px; border:0; color:#666; float:left;}
.n-b-inp a/*,.n_gly_phone,.n_gly_lock,.n_gly_yzm01,.col-weibo,.col-qq,.col-wexin*/{ background:url(../../images/new-images/n-icon.png) no-repeat;}
.n-b-inp a{ background-position:23px 4px; width:108px; height:48px; background-color:#00bb9c; display:inline-block;}

.n-b-index01{ padding-top: 0;}
.n-b-index01 ul{ padding-top: 38px;display:inline-block;}
.n-b-index01 ul li{ color: #444; padding: 3px 15px;}
.n-b-index01 ul li:hover,.n-b-index01 ul li.current{ background-color:#00bb9c; border:1px solid #00aa8e; padding:2px 14px; color: #fff;}
.n-b-index i{width:0; height:0; border-left:6px solid transparent;border-right:6px solid transparent;border-top:8px solid #fff; display: inline-block; margin-left: 5px;}
.n-horn{ height: 38px; line-height: 38px; background-color: #fbfbfb; border-bottom: 1px solid #eaeaea;}
.n-horn p img{ vertical-align: middle; padding-right: 5px; padding-bottom:2px;}
.n-horn p span{ color: #888;}
/*2016/11/1企业热评榜*/
/*.n-menus-c3{ background-color:rgba(23,75,108,0.35); width:100%;filter:progid:DXImageTransform.Microsoft.gradient(enabled='true',startColorstr='#1b7aa7',endColorstr='#1b7aa7');}
#banner_y10{ background: url(../../images/trade-images/score_banner.jpg) no-repeat center; width: 100%; height: 305px; position: relative; margin-top: -85px;*margin-top: -85px;}
#banner_y10 h2{ color: #fff; font-size: 70px; padding-top: 150px;}*/

.fea{ padding-top: 18px; clear: both; overflow: hidden;margin-bottom:80px; }
.fea_left{width: 772px; display: inline-block; float: left;}
.fea_left h4.view_tit{ border-left: 6px solid #00bb9c; height: 19px; line-height: 19px; font-size: 16px; padding-left: 8px;}
.fea_left h4.view_tit p{ float: right;}
.view_bot{ border-top: 1px solid #eaeaea; margin-top: 13px;}
.view_list{ border-bottom: 1px solid #eaeaea; padding: 26px 18px 27px 10px; overflow: hidden; clear: both;}
.view_list:hover{ background-color: #f9f9f9;}
.view_list_img{ width: 140px; height: 99px; display: inline-block; float: left; margin-right: 20px;}
.view_list_img img{ max-height: 99px; max-width: 140px; min-height: 99px; min-width: 140px;}
.view_list_ct{ float: left;display: inline-block; width: 584px;}
.view_list_p1{ font-size: 16px; color: #444; margin-bottom: 6px; position: relative; top: -2px;}
.view_list_p1 span i,.fea_inc p i{ background: url(../../images/trade-images/1219_icon.png) no-repeat;}
.view_list_p1 span{ float: right; right: 0; color: #999;}
.view_list_p1 span i{ background-position: 1px 0; width: 16px; height: 16px; display: inline-block; vertical-align: text-bottom; padding-right: 3px;}
.view_list_p2{ color: #888; line-height: 22px; margin-bottom: 6px;display: -webkit-box;  -webkit-box-orient: vertical;  -webkit-line-clamp: 2;  overflow: hidden;}
.view_list_p3 span{ border: 1px solid #eaeaea; border-radius: 3px; padding: 1px 10px; display: inline-block; color: #444; margin-right: 20px;}
.fea_right{ width: 313px; float: right; display: inline-block;}
.fea_vote{ margin-top: 32px; display: block;}
.fea_time{ height: 70px; margin: 28px 0 16px;}
.fea_time_year_span{ border: 1px solid gainsboro;border-radius: 7px;font-size: 58px;color: #c52930;font-family: Arial;}
.fea_time_year_span em{font-size: 48px; }
.fea_time_year{ display: inline-block;}
.fea_time_year img{ vertical-align: text-bottom;}
.fea_inc{ border: 1px solid #eaeaea; border-bottom: 0;}
.fea_inc p{ height: 41px; line-height: 41px; border-bottom: 1px solid #eaeaea; color: #888; padding-left: 20px;}
.fea_inc p i{ width: 22px; height: 22px; display: inline-block; vertical-align: middle; padding-right: 12px;}
.fea_inc p i.fea_inc_i1{ background-position: 0 -27px;}
.fea_inc p i.fea_inc_i2{ background-position: 0 -66px;}
.fea_inc p span{ font-size: 20px; color: #444;}
.fea_right a.zs_newb{border: 1px solid #00aa8e;
    background-color: #00bb9c;
    color: #fff;
    padding: 10px 113px;
    margin-top: 25px;
    display: inline-block;}
.score_adv{ margin: 20px 0;}
.score_main{ border: 1px solid #eaeaea; margin-top: 23px;}
.score_main_tit{ height: 53px; background-color: #f7f7f7;padding: 0 35px;}
.score_main_tit h2{ margin: 0; font-size: 16px; line-height: 53px; font-weight: bold; display: inline-block;}
.score_tit_time{ display: inline-block; float: right; margin-top: 13px; height: 30px; line-height: 30px;}
.score_tit_time input,.score_cleft_top li,.score_list_mr a{ background: url(../../images/trade-images/score_icon.png) no-repeat;}
.score_tit_time input{ vertical-align: middle; background-position:  114px -581px; width: 140px; height: 30px; line-height: 30px; background-color: #fff; border: 1px solid #eaeaea; padding: 0 25px 0 15px;*padding: 0 15px 0 15px;}
.score_main table.dis_score{ table-layout: fixed; text-align: center;}
.dis_score th{ font-size: 16px; text-align: center;}
.dis_score th{ height: 39px; line-height: 39px; background-color: #fbfbfb;}
.dis_score td{ height: 46px; line-height: 46px;border-top: 1px solid #eaeaea;}
.dis_score .or1{ width: 110px;}
.dis_score .or2{ width: 400px; text-align: left; padding-left: 80px;}
.dis_score .or3{ width: 160px; padding-right: 20px; text-align: left;}
.dis_score .or4{ width: 190px;}
.dis_score .or1 span{ width: 26px; height: 26px; line-height: 26px; text-align: center; border-radius: 2px; display: inline-block;}
.dis_score .or1 span.span1{ background-color: #f0a45f; border: 1px solid #f0a45f;}
.dis_score .or1 span.span1,.dis_score .or1 span.span2,.dis_score .or1 span.span3{ color: #fff;}
.dis_score .or1 span.span2{ background-color: #f0b660; border: 1px solid #f0b660;}
.dis_score .or1 span.span3{ background-color: #f1cd62; border: 1px solid #f1cd62;}
.dis_score .or1 span.span4{ color: #444; background-color: #fbfbfb; border: 1px solid #eaeaea;}
.dis_score th.or2{ padding-left: 80px; text-align: left;}
.dis_score td.or2 span{ width: 350px; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; display: inline-block;}
.dis_score td.or3 span{color: #ff6633;}
.or4_star{ float: left; display: inline-block; width: 108px; height: 18px; padding-top: 15px;}
.dis_score td.or4 span{ color: #00bb9c; font-weight: bold; font-size: 16px; float: left; display: inline-block; padding-left: 5px;}
.score_cleft{ width: 809px; float: left; display: inline-block;}
.score_cleft_top{ border: 1px solid #eaeaea; padding: 30px 0 25px 17px; margin-bottom: 20px;}
.score_cleft_top li{ height: 68px; line-height: 68px; display: inline-block; font-weight: bold; font-size: 24px; padding-left: 65px; padding-right: 15px;}
.score_cleft_top a{ color: #dadada; display: inline-block;}
.score_cleft_top li.score_top1{ background-position: 0 0px;}
.score_cleft_top li.score_top2{ background-position: 0 -72px;}
.score_cleft_top li.score_top3{ background-position: 0 -145px;}
.score_cleft_top li.score_top4{ background-position: 0 -218px;}
.score_cleft_top li.score_top1:hover,.score_cleft_top .current{color: #444;}
.score_cleft_top li.score_top1:hover,.score_cleft_top .current .score_top1{ background-position: 0 -291px;}
/*.score_cleft_top li.score_top2:hover,.score_cleft_top .current .score_top2{ background-position: 0 -364px;}
.score_cleft_top li.score_top3:hover,.score_cleft_top .current .score_top3{ background-position: 0 -437px;}
.score_cleft_top li.score_top4:hover,.score_cleft_top .current .score_top4{ background-position: 0 -510px;}*/
.score_cleft_main{ border: 1px solid #eaeaea; padding-bottom: 50px;}
.score_cleft_main h3{ position: relative; height: 53px; line-height: 53px; margin: 0; font-size: 16px; border-bottom: 1px solid #eaeaea; padding-left: 35px; background-color: #f7f7f7; font-weight: bold;}
.score_cleft_main h3 img{ vertical-align: middle; padding-left: 5px;}
.score_cleft_main h3 i{ box-shadow:1px 1px 7px rgba(180,180,180,0.2); position: absolute; border: 1px solid #eaeaea; padding: 10px 15px 20px; color: #888; line-height: 20px; background-color: #fff; width: 260px; top: -10px; margin-left: 10px;font-size: 14px;}
.score_cleft_list{ padding: 25px 20px 0 20px; overflow: hidden;}
.score_list_img{width: 126px; height: 93px; float: left;display: inline-block; position: relative;}
.score_list_img span{ position: absolute; width: 35px; height: 35px; border-radius:30px; background-color: rgba(0,0,0,0.4); color: #fff; text-align: center; line-height: 35px; left: 50%; margin-left: -18px; top: 50%; margin-top: -18px; font-size: 16px; font-style: italic;}
.score_list_main{ display: inline-block; float: left; margin-left: 13px; border-bottom: 1px dashed #eaeaea; width: 590px;}
.score_list_ml{ float: left; display: inline-block;}
.score_list_ml p{ margin-bottom: 10px;}
.score_list_mr{float: right; display: inline-block; margin-top: 22px;}
.score_list_mr a{ background-position: 9px -631px; display: inline-block; color: #888; border: 1px solid #eaeaea; padding: 7px 15px 6px 30px; border-radius:4px}
.score_list_mr a:hover{ background-position: 9px -601px; color: #fff; border: 1px solid #00aa8e; background-color: #00bb9c;}
.score_cright{ border: 1px solid #eaeaea; float: right; display: inline-block;}
.score_cright h4{ margin: 0; padding-left: 20px; height: 46px; line-height: 46px; background-color: #f7f7f7; border-bottom: 1px solid #eaeaea; font-size: 14px;}
.score_cright h4 span{ color: #888;}
.score_cright_main{ padding: 30px 38px 0 20px;}
.score_cright_main p{ margin-bottom: 25px; overflow: hidden;}
.score_cright_main input{ right: 0; float: right; display: inline-block; margin-top: 3px;}
.score_cright_main p a{ color: #fff; background-color: #00bb9c;display: inline-block; text-align: center; width: 100%; height: 40px; line-height: 40px; border-radius: 4px;}
.score_cright_main p span{ float: left;display: inline-block;}
.fea_alink a{ color: #888; line-height: 45px; border-bottom: 1px solid #eaeaea; display: block; padding-left: 20px;}
.fea_alink a:hover{ color: #444;}
/*11.8修改激活邮件*/
.n_rr{ margin-top: 25px; text-align: center;}
.n_rr h3{ font-size: 14px; margin-bottom: 35px;}
.n_rr h3 img{ vertical-align: middle; padding-right: 10px;}
.n_rr h4{ font-size: 14px; margin-bottom: 14px;}
.n_rr a.n_rr_a{ background-color: #00bb9c; color: #fff; display: block; border-radius: 6px; height: 42px; line-height: 42px; font-size: 16px; margin-top: 50px;}
.n_rr p{ color: #888; margin-top: 15px;}
.n_rr p a{ color: #00bb9c;}
.form-msg{display: block; position: absolute; padding: 10px; white-space: nowrap; color: red; left: -11px; top: 33px;}
.bg119{ background-color: #f4f4f4;}
.main119{ width: 1180px; margin: 0 auto;}
.main119 h2{ font-size: 24px; color: #444; padding: 30px 0 0;}
.art119{ background-color: #fff; padding: 35px 0 35px 0; width: 1180px; margin-top: 23px; overflow: hidden; clear: both;}
.art_block{ padding-left: 35px; margin-bottom: 20px;}
.art119 p{ line-height: 30px;}
.art119 p span,.art119 p a{ color: #1a93f3;}
.art119 img{ margin-top: 25px;}
.main119 h3{ padding-top: 20px;}
.main119 h3 span{ padding: 5px 20px; color: #fff; border-radius: 4px; margin-right: 15px; display: inline-block;}
.main119 h3 span.sar01{ background-color: #6fd3e3;}
.main119 h3 span.sar02{ background-color: #fdbe3d;}
.main119 h3 i{ color: #888888; margin-right: 15px;}
.art119_left{ width: 726px; display: inline-block; float: left; margin: 0 0 0 35px;}
.art119_left img{ margin:0 auto 20px;}
.art119_left p{ line-height: 30px; text-indent: 2em;}
.art119_left h4{ background: url(../../images/trade-images/1219_tw.png) no-repeat; width: 100%; height: 39px; line-height: 39px; text-align: center; margin: 20px 0;}
.art119_right{ width: 280px; display: inline-block; float: right; margin: 0 35px 0 0;}
.art119_right img{margin-top: 0;}
.artEwm{ width: 280px; border: 1px solid #eaeaea; margin-top: 25px; text-align: center;}
.artEwm p{ background-color: #f4f4f4; border-top: 1px solid #eaeaea;}
.eImg{position: absolute;right: 52px;top: 1px;}
.art120{ background-color: #fff; padding: 35px 0 35px 0; width: 1180px; margin-top: 23px; overflow: hidden; clear: both;}
.art120 p{ line-height: 30px;}
.art120 p  a{ color: #1a93f3;}
.art120 img{ margin-top: 25px;}
.art120_left{ width: 796px; display: inline-block; float: left; margin: 0 0 0 35px;}
.art120_left img{ margin:0 auto 20px;}
.art120_left p{ line-height: 30px; text-indent: 2em;}
.art120_left h4{ background: url(../../images/trade-images/1219_tw.png) no-repeat; width: 100%; height: 39px; line-height: 39px; text-align: center; margin: 20px 0;}
.art120_right{ width: 280px; display: inline-block; float: right; margin: 0 35px 0 0;}
.art120_right img{margin-top: 0;}
/*2017/3/15认领的好处*/
.bf-banner{background: url(../../images/banner03.jpg)no-repeat center; width: 100%;height: 556px;}
.bf-banner p{padding-top: 440px;}
.bf-banner a{width: 153px;height: 45px;line-height: 45px;margin: 0 auto;display: block;color: #fff;text-align: center;border: 1px solid rgba(255,255,255,0.5);font-size: 18px;border-radius: 3px;}
.bf-banner a:hover{background-color: rgba(255,255,255,0.15);}
.ben-show{padding-top: 69px;text-align: center;}
.ben-show h3{font-size: 30px;color: #ef8b12;font-weight: bold;padding-bottom: 7px;}
.ben-show h4{font-size: 14px;color: #4a4a4a;line-height: 28px;}
.ben-img{margin-top: 24px;}
.bg-ben{background-color: #f5f6f9;width: 100%;padding-bottom: 116px;}
.ben-img01{margin-top: 67px;}
.ben-number{padding: 55px 0 65px;overflow: hidden;}
.ben-block{width: 214px;height: 119px;display: inline-block;border: 1px solid #d9dce3;float: left;display: inline-block;margin: 0 25px 25px 0;}
.ben-block span{height: 100%;display: inline-block;vertical-align: middle;}
.state-login .n_b{text-align: center;}
.state-login .n_login_form_group{height: 21px;width: 286px;}
.state-login .n_b button{border: none;padding: 10px 0;border-radius:3px;width: 100%;}

/*2017/5/22*/
.notice522{position: absolute;width: 100%;height: 38px;background-color: rgba(23,144,121,0.6);
top: 0;}
.index-notice span{background: url(../../images/not-icon.png) no-repeat left;color: #fffefe;font-size: 16px;padding-left: 30px;vertical-align: middle;display: inline-block;margin-top: 9px;float: left;}
.index-notice a{background-color: #fff;color: #1cba9b;padding: 3px 15px;border-radius: 4px;margin-left: 20px;float: right;margin-top: 6px;}
.steps{text-align: center;}
.steps h2{font-size: 28px;color: #666;padding: 40px 0;}
.steps-main{width: 1055px;margin: 0 auto;text-align: center;}
.steps-main ul{overflow: hidden;margin: 15px 78px 35px;}
.steps-main ul li{width: 110px;float: left;display: inline-block;margin-right: 153px;}
.steps-main ul li span{display: block;line-height: 24px;font-size: 16px;}
.steps-main ul li.steps-green{color: #00bb9c;}
.steps-main ul li.steps-gray{color: #666;}
.steps h3{color: #666;font-size: 24px;margin-bottom: 40px;}
.steps h3 span{color: #00bb9c;font-size: 24px;}
.steps h3 a{padding: 10px 72px;margin: 0 20px;color: #fff;border-radius: 4px;font-size: 18px;display: inline-block;}
.steps h3 a.declare{background-color: #00bb9c;}
.steps h3 a.review{background-color: #fdbb2e;}
.steps-infor{overflow: hidden;padding-bottom: 40px;}
.steps-infor h2{color: #333;font-size: 30px;margin: 38px 0;text-align: center;}
.steps-inblock{width: 326px;height: 324px;background-color: #fff;text-align: center;float: left;display: inline-block;margin-right: 35px;padding: 0 22px;}
.steps-inblock img{margin: 49px auto;}
.steps-inblock h3{color: #333;font-size: 20px;margin-bottom: 7px;}
.steps-inblock h4{color: #999;font-size: 14px;line-height: 30px;}
.steps-inblock h4 span{display: inline-block;padding: 0 6px;color: #e8e8e8;height: 20px;}
.steps-inblock a{display: inline-block;background-color: #729aea;padding: 7px 63px;color: #fff;border-radius: 4px;font-size: 18px;margin-top: 13px;}
.steps-rule{overflow: hidden;}
.steps-rule .steps-rule-p{font-size: 16px;margin-bottom: 25px;}
.steps-rule .steps-rule-p label{color: #00bb9c;width: 100px;float: left;}
.steps-rule .steps-rule-p span{width: 1080px;color: #666;}
.steps-rule-span{width: 1080px;display: inline-block;margin-top: -10px;}
.steps-rule-span span{display: block; line-height: 44px;color: #666;}
.steps-rule-span a{color: #00bb9c;}
.steps-rule-span a img{vertical-align: middle;}
.coop{text-align: center;}
.coop h3{color: #333;font-size: 30px;background: url(../../images/step-line.png) no-repeat center;width: 772px;margin: 35px auto 0;}
.coop h4{color: #666;font-size: 30px;padding: 29px 0 5px;}
.coop img{margin-top: 35px;}
.coop p{color: #999;margin-top: 11px;}
.base{border: 1px solid #e6e6e6;background-color: #fff;margin-bottom: 10px;clear: both;}
.base-top{text-align: center;padding: 40px 0 35px;}
.base-top p{margin-top: 18px;}
.base-top p span{width: 100px;display: inline-block;font-size: 16px;margin-right: 288px;}
.base-top p span.base-top-c1{color: #00bb9c;}
.base-top p span.base-top-c2{color: #666;}
.base-infor{padding: 36px 60px 34px;}
.base-infor h3{color: #333;font-size: 20px; padding-bottom: 10px;}
.base-infor p{color: #888;font-size: 16px;text-indent: 2em;line-height: 30px;}
.base-write{}
.base-write h2{border-bottom: 1px solid #eaeaea;height: 22px;padding: 19px 20px 19px 30px;}
.base-write h2 span{border-left: 5px solid #00bb9c;height: 22px;font-size: 22px;color: #444;padding-left: 20px;display: inline-block;line-height: 22px;}
.base-write h2 i{float: right;display: inline-block;color: #7ed4c1;font-size: 16px;}
.base-write-main{margin: 30px 0 40px 350px;}
.base-write-main p{margin-bottom: 20px;clear: both;overflow: hidden;}
.base-write-main p span{font-size: 18px;color: #00bb9c;}
.base-write-main label{width: 120px;text-align: right;font-size: 14px;color: #444;display: inline-block;margin-right: 12px;float: left;line-height: 30px;}
.base-write-main label i,.base-write-main em{color: #ff2020;}
.base-write-main select,.base-write-main input{border: 1px solid #eaeaea;color: #a9a9a9;padding-left: 10px;}
.base-write-main select{margin-right: 20px;float: left;display: inline-block;height: 35px;}
.base-write-main input{margin-right: 10px;height: 31px;}
.base-write-main button,.base-warn button{color: #fff;padding: 10px 81px;background-color: #00bb9c;border: none;font-size: 18px;margin-top: 20px;cursor: pointer;}
.base-warn{text-align: center;min-height: 480px;}
.base-warn img{margin: 44px 0 31px;}
.base-warn h3{font-size: 20px;color: #333;}
.base-warn h4{color: #888;font-size: 16px;line-height: 39px;margin-bottom: 10px;}
.base-warn h5{font-size: 12px;color: #888;margin-top: 16px;}
.baseCredit{overflow: hidden;}
.baseLeft{margin-top: -1px;width: 263px;float: left;display: inline-block;border-right: 1px solid #e6e6e6;padding-bottom: 9999px;margin-bottom: -9999px;background-color: #fbfcfd;}
.baseLeft a{height: 50px;display: block;color: #888;padding-left: 55px;line-height: 50px;border-bottom: 1px solid #fbfcfd;border-top: 1px solid #fbfcfd;font-size: 16px;}
.baseLeft a:hover,.baseLeft a.current{border-bottom: 1px solid #e6e6e6;border-top: 1px solid #e6e6e6;background-color: #fff;color: #444;margin-right: -1px;}
.baseRight{width: 835px;display: inline-block;float: right;padding: 30px 0 40px;margin: 0 40px;min-height: 700px;}
.baseRight h3.baseRight-tit{border-bottom: 1px solid #e6e6e6;padding-bottom: 10px;margin-top: 10px;}
.baseRight h3.baseRight-tit span{border-bottom: 4px solid #00bb9c;padding-bottom: 8px;}
.baseRight form{margin: 28px 0 0;}
.bR-line{margin-bottom: 25px;clear: both;overflow: hidden;}
.bR-line-left{display: inline-block;float: left;width: 130px;text-align: right;margin-right: 15px;line-height: 35px;}
.bR-line-right{float: left;}
.bR-line-right input{border: 1px solid #eaeaea;color: #a9a9a9;}
.bR-line-right input.t-text{height: 35px;padding: 0 10px;}
.bR-line-right i{color: #a9a9a9;margin: 0 10px;line-height: 35px;}
.baseUp{margin: 20px 0 10px;overflow: hidden;clear: both;}
.baseUp-block{border: 1px solid #ebebeb;width: 108px;height: 98px;text-align: center;position: relative;float: left;display: inline-block;margin-right: 20px;}
.baseUp-block img{text-align: center;}
.baseUp-after img{max-height: 106px;max-width: 106px;min-height: 106px;min-width: 106px;}
.baseUp-block b{background-color: rgba(0,187,156,0.7);width: 100%;height: 22px;line-height: 22px;color: #fff;font-size: 12px;position: absolute;z-index: 9;left: 0;bottom: 0;}
.baseUp-ul input{opacity:0;filter:alpha(opacity=0);position:absolute;top:0;right:0;width: 106px;height: 106px;}
.bR-line input{width: 98%;}
.baseUp-ul img{padding-top: 10px;}
.base-tb{width: 230px;}
.bR-line-right table,.bR-line table.base-tb3{text-align: center;border-bottom: 1px solid #eaeaea;border-left: 1px solid #eaeaea;float: left;display: inline-block;}
.bR-line-right th,.bR-line table.base-tb3 th,.bR-t8-bg{background-color: #f3fcfa;}
.bR-line-right th,.bR-line-right td,.bR-line table.base-tb3 td,.bR-line table.base-tb3 th{height: 35px;line-height: 35px;border-top: 1px solid #eaeaea;border-right: 1px solid #eaeaea;}
.base-tb th,.base-tb td{width: 114px;}
.bR-line-right td input{border: 0;width: 100%;outline: none;text-align: center;}
.bR-bg{width: 688px;border: 1px solid #eaeaea;background-color: #fafafa;padding-top: 9px;overflow: hidden;}
.bR-bg p{display: inline-block;float: left;margin: 0 10px 10px 0;}
.bR-bg p span{margin-right: 10px;display: inline-block;color: #666;text-align: right;line-height: 35px;}
.bR-bg p input{width: 200px;height: 33px;padding: 0 10px;}
.bR-line input,.bR-line select,.bR-line textarea{border: 1px solid #eaeaea;color: #999;}
.bR-bg p.bR-bg-p1 span{width: 85px;}
.bR-bg p.bR-bg-p2 span{width: 119px;}
.bR-line-right span.jqWrap,.bR-choose span{display:inline-block;margin: 0 25px 0 7px;}
.jqChecked{background-position: center bottom !important;}
.bR-line span.jqWrap{background: url(../../images/base-check.png) no-repeat center top;
vertical-align: middle;height: 14px;width: 20px;display: inline-block;}
.bR-line label.jqWrap{background: url(../../images/base-radio.png) no-repeat center top;
vertical-align: middle;height: 14px;width: 14px;display: inline-block;    margin: 0 25px 0 7px;}
label.jqWrap input{opacity: 0;}
.bR-line-right span.jqWrap input,.bR-choose span input,.bRstat span input,.bRtarget span.jqWrap input,.bR-t22 span input,.bRrecord span input{display: none;}
.base-tb1{width: 689px;margin: 10px 0 20px;}
.base-tb1 .bR-t1{width: 171px;}
.bR-button{text-align: center;clear: both;}
.bR-button button{font-size: 18px;border: 1px solid #00bb9c;width: 216px;height: 44px;text-align: center;line-height: 42px;margin: 0 10px;cursor: pointer;}
.bR-button button.bt1{background-color: #00bb9c;color: #fff;}
.bR-button button.bt5{background-color: #00bb9c; color: #fff; font-size: 14px; width: 135px; height: 37px; line-height: 0;    padding: 10px 49px;}

.bR-choose h4{margin: 15px 0 0 20px;}
.bR-line-left1{width: 60px;}
.bR-bg1{width: 724px;margin-top: 20px;}
.bR-bg1 p span{width: 94px;text-align: right;}
.bR-bg1 p select{width: 120px;height: 35px;line-height: 35px;padding: 0 10px;}
.bR-bg1 p textarea,.bR-new textarea{width: 587px;height: 86px;padding: 10px;}
.bR-link{clear: both;float: right;margin: 10px 0 20px;}
.bR-link a{display: inline-block;width: 34px;height: 34px;margin-left: 20px;background: url(../../images/base-add.png) no-repeat center;}
.bR-link a.bR-green{background-position: 0 0;}
.bR-link a.bR-red{background-position: 0 -36px;}
.bR-button button.bt2{background-color: #fff;color: #00bb9c;}
.bR-bg2{margin-top: 10px;}
.bR-choose h3{font-size: 14px;}
.bR-choose h3 i{vertical-align: top;margin-right: 10px;display: inline-block;}
.bR-choose h3 textarea,.bR-bg4 textarea{width: 737px;height: 108px;padding: 10px;}
.bR-new{margin-top: 10px;}
.bR-new textarea{width: 737px;height: 108px;}
.bR-bg3 input{width: 218px !important;}
.bR-line-right em.bR-em{width: 114px;text-align: right;display: inline-block;color: #999;}
.base-tb2{width: 780px;}
.base-tb1 .bR-t2{width: 165px;}
.base-tb1 .bR-t3{width: 90px;}
.base-tb1 .bR-t4{width: 140px;}
.base-tb1 .bR-t5{width: 107px;}
.base-tb1 .bR-t3 select,.base-tb3 .bR-t22 select{border: none;width: 100%;line-height: 35px;padding: 0 10px;}
.base-tb3{color: #666;margin-bottom: 20px;}
.base-tb3 .bR-t6{width: 471px;font-size: 12px;}
.base-tb3 .bR-t6 span{width: 150px;text-align: right;display: inline-block;color: #444;font-size: 14px;}
.base-tb3 .bR-t7{width: 180px;}
.base-tb3 .bR-t61 span{width: 210px;text-align: center;display: inline-block;color: #444;font-size: 14px;}
.bR-bg4{width: 833px;}
.bR-bg4 span{width: 70px;}
.bR-bg4 textarea{width: 709px;}
.base-tb3-bot{margin-bottom: 0;}
.base-tb3 .bR-t8{width: 180px;}
.base-tb3 .bR-t9{width: 230px;}
.base-tb3 .bR-t10{width: 210px;}
.bR-line h4.h4-note{font-size: 12px;color: #666;line-height: 22px;clear: both;padding: 5px 0;}
.bR-bg5{width: 823px;padding-left: 10px;margin-top: 20px;}
.bR-bg5 p{clear: both;}
.bR-bg5 p span.bR-bg5-s1{width: 155px;text-align: right;margin: 0 10px 0 0;line-height: 24px;}
.bR-bg5 p span.bR-bg5-s2{width: 90px;text-align: right;margin: 0 10px 0 0;}
.base-tb3 .bR-t10 input{border: none;color: #444;text-align: center;}
.bR-line span.bRcheck,.bRtarget span,.bR-t22 span{background: url(../../images/base-check.png) no-repeat center top;
vertical-align: middle;height: 14px;width: 17px;display: inline-block;}
.jqWrap-left{margin-left: 0 !important;display: block;}
.bR-bg5 p b{display: block;}
.bR-bg p span.jqM{margin-left: 169px !important;}
.base-tb3-top{margin-top: 18px;}
.base-tb3 .bR-t11{width: 138px;}
.bR-line table input,.bRtarget span.jqWrap input{border: none;text-align: center;}
.base-tb3 .bR-t11 input{padding: 0 10px;width: 118px;}
.bR-line h3{font-size: 14px;}
.bR-line h3 i{color: #a9a9a9;margin-left: 5px;}
.base-tb3 .bR-t12{width: 230px;}
.base-tb3 .bR-t13{width: 80px;}
.base-tb3 .bR-t14{width: 160px;}
.base-tb3 .bR-t15{width: 135px;}
.base-tb3 .bR-t16{width: 110px;}
.bRlevel{margin: 10px 0 20px;}
.bRlevel textarea{width: 809px;height: 55px;padding: 10px;}
.bRstat{margin: 22px 0 35px;overflow: visible;}
.bRstat table{table-layout: fixed;}
.bRstat th,.bRstat td{height:30px; line-height: 30px;}
.bRstat tr:hover{box-shadow:2px 2px 10px #909090;z-index: 999;}
.bR-s1{width: 410px;padding-left: 5px;}
.bR-s2{width: 135px;text-align: center;padding-right: 75px;}
.bR-s3{width: 210px;text-align: center;padding-right: 150px;}
/*
.hover-boxshadow>*:hover,.hover-boxshadow>*:active{box-shadow:0 5px 30px #dbdee4;margin-top:-1px;}
*/
.hover-boxshadow{  
  -webkit-box-shadow:0 0 5px rgba(197, 197, 197, .35);  
  -moz-box-shadow:0 0 5px rgba(197, 197, 197, .35);  
  box-shadow:0 0 5px rgba(197, 197, 197, .35);  
}  
.bR-mp{margin-top: 10px;}
.bRtarget{clear: both;float: left;}
.bRtarget p{margin-top: 10px;}
.base-tb3 .bR-t17{width:200px;}
.base-tb3 .bR-t18{width: 260px;}
.base-tb3 .bR-t19{width: 110px;}
.bR-one{margin-bottom: 15px;}
.bR-one p{margin-bottom: 10px;color: #666;}
.bR-one p span{margin-right: 10px;}
.bRtarget p i{color: #999;}
.base-tb3 .bR-t20{width: 345px;}
.base-tb3 .bR-t21{width: 215px;}
.base-tb3 .bR-t22{width: 150px;}
.base-tb3 .bR-t23{width: 245px;}
.base-tb3 .bR-t24{width: 99px;}
.bRrecord{clear: both;}
.bRrecord p{float: left;display: inline-block;width: 360px;margin-bottom: 10px;}
.bRrecord p span{width: 75px;text-align: right;margin-right: 10px;display: inline-block;}
.bRrecord p input{height: 35px;line-height: 35px;padding: 0 10px;}
.bRrecord p span.jqWrap{width: 45px;}
.bRrecord p span.jqWrap input{margin-left: 5px;}
.bRrecord select{height: 35px;width: 148px;padding: 0 10px;}
.bRt4 p i{color: #444;}
.base-sud{text-align: center;min-height: 490px;}
.base-sud img{padding: 45px 0 24px;}
.base-sud h3{color: #333;font-size: 20px;line-height: 36px;padding-bottom: 5px;}
.base-sud h4{color: #888;font-size: 18px;line-height: 28px;}
.base-sud button{padding: 10px 70px;background-color: #00bb9c;color: #fff;font-size: 18px;border: none;margin-top: 35px;cursor: pointer;}
.imgSuccess{position: absolute;bottom: 0;z-index: 999;width: 100%;background-color: #00bb9c;top:80px;}
.uploadSuccess{position: absolute;bottom: 0;z-index: 999;width: 100%;background-color: #00bb9c;}
.datumLinkdiv{margin-top: 0px;margin-left: -15px;position: absolute;bottom: 0;top:0;}
.img01{padding-top: 0px;max-width:108px;max-height:98px;min-width:108px;min-height:98px;}
.error-tip-i
{
    position: absolute;font-size: 14px;
    color: #c11920;display: block;
    margin: 2px 0 0 80px;padding-left: 20px;
    background: url(../../images/trade-images/fi-icon4.png) no-repeat left;
}
.bRtarget label.jqWrap{background: url(../../images/base-check.png) no-repeat center top;
vertical-align: middle;height: 14px;width: 14px;display: inline-block;    margin: 0 25px 0 7px;}
.bR-line table input{height:100%;}
.m-alert-info-failed {
    background-color: red;
    color:white;
    opacity: 0.8;
    width: 200px;
    height: 35px;
    border-radius: 10px;
    text-align: center;
    line-height: 35px;
    padding: 1%;
}
.bR-t10 select{border: 0;line-height: 35px;width: 100%;padding: 0 10px;}


.promise-main{min-height: 600px;width: 850px;margin: 0 auto;}
.promise-main h2{text-align: center;font-size: 26px;color: #00bb9d;padding: 73px 0 50px;}
.promise-main h3{font-size: 18px;line-height: 36px;}
.promise-main h4{text-indent: 2em;line-height: 36px;font-size: 16px;}
.promise-main h5{text-align: center;font-size: 14px;padding-top: 70px;}
.promise-main from{text-align: center;}
.promise-main button{font-size: 18px;border: 1px solid #00bb9c;width: 216px;height: 44px;text-align: center;line-height: 42px;margin: 0 10px;cursor: pointer;}
.promise-main button.bt3{background-color: #00bb9c;color: #fff;}
.promise-main button.bt4{background-color: #fff;color: #00bb9c;}
.promise-main label.jqWrap01{background: url(../../images/base-radio.png) no-repeat center top;
vertical-align: middle;height: 14px;width: 14px;display: inline-block; margin: 0 25px 0 7px;}
.promise-main label.jqWrap01 input{opacity: 0;}

.base-write-main label.jqWrap02{background: url(../../images/base-radio.png) no-repeat center top;
    vertical-align: middle;height: 14px;width: 14px;display: inline-block; margin: 7px 0 0 0;}
.base-write-main label.jqWrap02 input{opacity: 0;}





